<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="public/build/assets/app-9cfd0ca0.css">
</head>
<body class="bg-gray-200">
<table class="border">
    <thead>
    <tr>
        <th class="px-4 py-2">Item</th>
        <th class="px-4 py-2">Quantity</th>
        <th class="px-4 py-2">Price</th>
        <th class="px-4 py-2">Total</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="px-4 py-2">Product 1</td>
        <td class="px-4 py-2">2</td>
        <td class="px-4 py-2">$50</td>
        <td class="px-4 py-2">$100</td>
    </tr>
    <tr>
        <td class="px-4 py-2">Product 2</td>
        <td class="px-4 py-2">1</td>
        <td class="px-4 py-2">$30</td>
        <td class="px-4 py-2">$30</td>
    </tr>
    <tr>
        <td class="px-4 py-2">Product 3</td>
        <td class="px-4 py-2">4</td>
        <td class="px-4 py-2">$40</td>
        <td class="px-4 py-2">$160</td>
    </tr>
    </tbody>
</table>

</body>
</html>
