<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
tailwindo --components=true resources/views/test
<div class="alert alert-primary alert-secondary alert-success alert-info alert-warning alert-danger alert-light alert-dark alert-link alert-heading ">Alert</div>
<div class="form-group form-inline form using the grid form-control form-control-lg form-control-sm form-control-file form-control-plaintext form-control-range form-check form-check-inline disabled items readonly ">Form</div>
<div class="navbar navbar-brand navbar with form navbar-text navbar-dark bg-dark navbar-light navbar fixed-top navbar fixed-bottom navbar sticky-top collapse navbar-collapse navbar-toggler navbar-expand-sm navbar-expand-md navbar-expand-lg navbar-expand-xl">Navber</div>
<div class="badge badge-pill badge-primary badge-secondary badge-success badge-info badge-warning badge-danger badge-light badge-dark ">Bagde</div>
<div class="btn btn-lg btn-sm btn-block  btn-primary btn-secondary btn-success btn-info btn-warning btn-danger btn-light btn-dark btn-link btn-outline-primary btn-outline-secondary btn-outline-success btn-outline-info btn-outline-warning btn-outline-danger btn-outline-light btn-outline-dark  btn-group btn-group-lg btn-group-sm btn-group-vertical ">Button</div>
<div class="table thead-light thead-dark table-striped table-bordered table-borderless table-hover table-sm table-*-responsive table-reflow table-active table-primary table-secondary table-success table-info table-warning table-danger table-light table-dark ">Table</div>
<div class="img-fluid img-thumbnail ">Image</div>
<div class="jumbotron jumbotron-fluid  ">jumbotron</div>
<div class=" list-group list-group-item active list-group-item disabled list-group-item-action list-group-item-primary list-group-item-secondary list-group-item-success list-group-item-info list-group-item-warning list-group-item-danger list-group-item-light list-group-item-dark list-group with badges list-group with d-flex list-group-horizontal ">List</div>
<div class=" card card-body card-title card-subtitle card-text card-link card-img-top middle image card-img-bottom card-img-overlay list-group card-header h*.card-header card-footer card-group card-deck card-columns ">Card</div>
<div class=" bg-primary bg-secondary bg-success bg-info bg-warning bg-danger bg-light bg-dark bg-white text-primary text-secondary text-success text-info text-warning text-danger text-light text-dark text-white ">Bg</div>
<div class="container">Container</div>
<div class="col-1 col-2 col-3 col-4 col-5 col-6 col-7 col-8 col-9 col-10 col-11 col-12">Col</div>
<div class="col-sm-1 col-sm-2 col-sm-3 col-sm-4 col-sm-5 col-sm-6 col-sm-7 col-sm-8 col-sm-9 col-sm-10 col-sm-11 col-sm-12">Col</div>
<div class="col-md-1 col-md-2 col-md-3 col-md-4 col-md-5 col-md-6 col-md-7 col-md-8 col-md-9 col-md-10 col-md-11 col-md-12">Col</div>
<div class="col-lg-1 col-lg-2 col-lg-3 col-lg-4 col-lg-5 col-lg-6 col-lg-7 col-lg-8 col-lg-9 col-lg-10 col-lg-11 col-lg-12">Col</div>
</body>
</html>
